p {
    color: #ffffff;
    text-align: center;
}

/* Navbar */

.navbar {
    text-align: center;
    font-family: "Oswald";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    text-transform: uppercase;
}

#navbarNavDropdown {
    justify-content: center;
}

.nav-item:hover {
    background-color: #6d4613;
}

#cta {
    background-color: #6d4613;
}
/* Navbar end */

/* Jumbotron */
#jumbotron {
    height: auto;
}

#hero {
    padding-top: 120px;
    padding-bottom: 80px;
}

.jumbotron {
    text-align: center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 1080px;
    left: 0px;
    top: 0px;
    background-position: center;
}

.jumbotron img {
    width: 550px;
    height: 440px;
    margin-bottom: 20px;
}

h1.display-4 {
    font-family: "Oswald";
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.13em;
    text-transform: capitalize;
    color: white;
}

h2.lead {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    /* identical to box height, or 30px */

    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: #ffffff;

    margin-bottom: 60px;
}

#jumbotron a.btn {
    background-color: #6d4613;
    border-radius: 0%;
    width: 170px;

    font-family: "Oswald";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    /* or 36px */

    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: #0e0a07;
    margin-bottom: 40px;
}

/* Jumbotron end */

/* About us */
#about {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 70px;
}

#about h1 {
    font-family: "Oswald";
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 150%;
    /* identical to box height, or 72px */

    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: #ffffff;
}

#about h2 {
    font-family: "UnifrakturMaguntia";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    /* identical to box height, or 48px */

    text-align: center;
    letter-spacing: 0.05em;

    color: #6d4613;
    margin-bottom: 40px;
}
/* About us end */

/* Parallax 2 */
#parallax2 {
    height: 540px;
    background-attachment: fixed;
}
/* Parallax 2 */

/* Our Studio */

#studio {
    padding-top: 50px;
    padding-bottom: 70px;
}

#studio h1 {
    font-family: "Oswald";
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 150%;
    /* identical to box height, or 72px */

    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: #ffffff;
}

#studio h2 {
    font-family: "UnifrakturMaguntia";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    /* identical to box height, or 48px */

    text-align: center;
    letter-spacing: 0.05em;
    margin-bottom: 70px;

    color: #6d4613;
}
#studio h3 {
    font-family: "UnifrakturMaguntia";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    /* identical to box height, or 48px */

    text-align: center;
    letter-spacing: 0.05em;
    margin-bottom: 70px;

    color: #6d4613;
}

#carouselExampleAutoplaying {
}
/* Our Studio end */

/* Gallery */
#gallery {
    margin-top: 40px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 70px;
}

#gallery h1 {
    font-family: "Oswald";
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 150%;
    /* identical to box height, or 72px */

    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: #ffffff;
}

#gallery h2 {
    font-family: "UnifrakturMaguntia";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    /* identical to box height, or 48px */

    text-align: center;
    letter-spacing: 0.05em;

    color: #6d4613;
}
#gallery h3 {
    font-family: "Oswald";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    /* or 36px */

    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-bottom: 40px;
    margin-top: 40px;

    color: #ffffff;
}

#gallery .col {
    padding: 10px;
}
#gallery .card {
    border: 0px;
    border-radius: 0px;
}

#gallery img {
    border-radius: 0px;
}

#gallery .btn {
    justify-content: center;
    text-align: center;
    background-color: #6d4613;
    border-radius: 0%;
    width: 170px;

    font-family: "Oswald";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    /* or 36px */

    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: #0e0a07;
    margin-top: 70px;
    margin-bottom: 40px;
}
/* Gallery end */

/* Boking */

#booking {
    padding-top: 150px;
    margin-bottom: 70px;
    justify-content: center;
    align-items: center;
}
#parallax2 .jumbotron {
    height: 900px;
    background-attachment: fixed;
}

#form {
    background-color: #000;
    width: 800px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 40px;
}

#form a {
    justify-content: center;
    text-align: center;
    background-color: #6d4613;
    border-radius: 0%;
    width: 170px;

    font-family: "Oswald";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    /* or 36px */

    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: #0e0a07;
    margin-top: 70px;
    margin-bottom: 40px;
}

#booking h1 {
    font-family: "Oswald";
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 150%;
    /* identical to box height, or 72px */

    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: #ffffff;
}

#booking h2 {
    font-family: "UnifrakturMaguntia";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    /* identical to box height, or 48px */

    text-align: center;
    letter-spacing: 0.05em;

    color: #6d4613;
    margin-bottom: 40px;
}
/* Boking */
/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
    /* Navbar */
    .collapse {
        background-color: #000;
    }
    /* Navbar end */

    /* Jumbotron */
    .jumbotron {
        padding: 2rem 1rem;
        height: auto;
    }
    .jumbotron h1,
    .jumbotron p {
        font-size: 1.2rem;
        line-height: 1.4;
    }
    .jumbotron h2 {
        font-size: 50%;
        line-height: 1;
    }
    .jumbotron img {
        max-width: 100%;
        height: auto;
    }
    /* Jumbotron end */
    /* Form */
    .jumbotron {
        padding: 2rem 1rem;
        height: auto;
    }
    .jumbotron h1,
    .jumbotron p {
        font-size: 1.2rem;
        line-height: 1.4;
    }
    .jumbotron h2 {
        font-size: 50%;
        line-height: 1;
    }
    .jumbotron img {
        max-width: 100%;
        height: auto;
    }
    /* Form end */
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    .nav-item {
        width: 170px;
    }
    .navbar-transparent {
        background-color: transparent !important;
        box-shadow: none !important;
    }

    .navbar-scrolled {
        background-color: #000 !important;
    }
}

/* X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    ...;
}

/* XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {
    ...;
}
